  
   body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

.container {
    font-size: 18px;
    max-width: 400px;
    margin: 0 auto;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    border: 2px solid #494bda;
    border-radius: 3px;
}
.message{
    color: lightgreen;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#nameList {
    margin-top: 20px;
}
